@import 'tailwindcss';
@import 'tw-animate-css';

@layer base {
	body {
		@apply bg-[#f9fafb];
	}
}

@layer components {
	.textarea {
		@apply w-full p-3 border rounded-md resize-none border-neutral-200 focus:outline-none focus:ring-2 focus:ring-blue-500;
	}
}
