@import 'tailwindcss';
@import 'tw-animate-css';

@layer base {
	body {
		@apply bg-[#f9fafb];
	}
}

@layer components {
	.textarea {
		@apply w-full p-3 font-medium border rounded-md outline-none resize-none border-neutral-200 focus-visible:ring-[3px] focus:ring-sky-500/50;
	}
}
